doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Girlchan Admin
        link(rel="stylesheet" type="text/css" href='/src/css/bootstrap.min.css')
        link(rel="stylesheet" type="text/css" href='/src/css/main.css')
    body
        section.wrapper
            section.header
                h1 Girlchan Admin
            section.content.jumbotron
                section.main_content
                    block content