extends ../_layout_

block content
    h2 Main panel
    ul.nav.nav-pills.nav-stacked
        li.main_li
            a(href="/langs") Languages
        li.main_li
            a(href="/boards") Boards
    form(method='POST', action='/restart')
        button.btn.btn-danger Restart