.wrapper {
    width: 960px;
    margin: 0 auto;
}
.content {
    padding: 20px;
}
.login_form {
    width: 400px;
    margin: auto;
    text-align: center;
}
.first_name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.second_name {
    font-size: 18px;
    font-weight: normal;
}
.panel-heading {
    cursor: pointer;
}
.nav {
    width: 500px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: #ffffff;
}