.wrapper {
    width: 960px;
    margin: 0 auto;
}
.content {
    padding: 20px;
}
.login_form {
    width: 400px;
    margin: auto;
    text-align: center;
}
.lang_name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.board_name {
    font-size: 18px;
    font-weight: normal;
}
.panel-heading {
    cursor: pointer;
}